* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    user-select: none;
}

body {
    background-color: #162939;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #ffffff10;
    font-weight: bold;
    height: 118px;
    display: flex;
}

header a {
    margin: auto;
    color: #AEAEAE;
    font-size: 50pt;
}

.ar {
    background: #AEAEAE;
    
    /**/

    background-clip: text;
    -webkit-text-fill-color: transparent;
    
    /*CREDITS: https://cssgradient.io/blog/css-gradient-text/
        
    /**/
    
}

.ar {
    transition: ease-in-out 0.4s background;
    -webkit-transition: ease-in-out 0.4s background;
    -moz-transition: ease-in-out 0.4s background;
    -ms-transition: ease-in-out 0.4s background;
    -o-transition: ease-in-out 0.4s background;
}

.ar:hover {
    background: linear-gradient(180deg, rgba(0,156,250,1) 0%, rgba(255,255,255,1) 100%);

    /**/

    background-clip: text;
    -webkit-text-fill-color: transparent;

    /*CREDITS: https://cssgradient.io/blog/css-gradient-text/
    
    /**/
    
}

.ar:hover {
    transition: ease-in-out 0.4s background;
    -webkit-transition: ease-in-out 0.4s background;
    -moz-transition: ease-in-out 0.4s background;
    -ms-transition: ease-in-out 0.4s background;
    -o-transition: ease-in-out 0.4s background;
}


.sub-header {
    background-color: #ffffff04;
    height: 50px;
    display: flex;
    justify-content: space-around;
}

.sub-header a {
    color: #aeaeae80;
    font-weight: bold;
    font-size: 20pt;
    margin: auto;
    transition: 0.4s ease-in-out color;
    -webkit-transition: 0.4s ease-in-out color;
    -moz-transition: 0.4s ease-in-out color;
    -ms-transition: 0.4s ease-in-out color;
    -o-transition: 0.4s ease-in-out color;
}

.available:hover {
    color: #d1d1d180;
    transition: 0.4s ease-in-out color;
    -webkit-transition: 0.4s ease-in-out color;
    -moz-transition: 0.4s ease-in-out color;
    -ms-transition: 0.4s ease-in-out color;
    -o-transition: 0.4s ease-in-out color;
}

.gallery-container {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

img {
    width: 450px;
    height: 253.125px;
    margin: 35px;
    margin-bottom: 10px;
    filter: grayscale(0.8);
    transition: filter ease-in-out 0.3s ;
    -webkit-transition: filter ease-in-out 0.3s ;
    -moz-transition: filter ease-in-out 0.3s ;
    -ms-transition: filter ease-in-out 0.3s ;
    -o-transition: filter ease-in-out 0.3s ;
    user-select: none;
}

img:hover {
    transition: filter ease-in-out 0.3s ;
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}

h2 {
    color: white;
    margin: 35px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 12pt;
    text-align: center;
}

ul {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    user-select: none;
}

li {
    margin: 2px;
    list-style: none;
    font-size: 14pt;
    background-color: #dcdcdc;
    text-align: center;

    /* ESTE BLOQUE DE CODIGO ME SIRVE PARA CENTRAR EL NUMERO DEL BOTON DE ABAJO */
    padding-top: 20px;
    padding-bottom: 20px;
    width: 63px;
    /* */

    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}

.disabled {
    background-color: rgb(87, 87, 87);
}

/* UPLOAD.HTML -------- */

form {
    display: flex;
    width: 450px;
    height: auto;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 50px;
    border-right: 2px solid white;
    border-left: 2px solid white;
}

input, textarea{
    width: 400px;
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    height: 50px;
    border: solid 2px #334d63;
    margin: 20px;
    background-color: #284A66;
    color: white;
}

input:focus, textarea:focus {
    outline: none;
}

.title {
    font-size: 14pt;
    font-weight: normal;
}

input:disabled {
    background-color: rgb(107, 0, 0);
}

.file {
    border: none;
    margin: 20;
}

.description {
    resize: none;
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    font-weight: normal;
    height: 150px;
}

.description::placeholder {
    font-size: 14pt;
}

.submit {
    color: #899cab;
}